@import url("../fonts/font.css");
@import url("../icon/style.css");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  outline: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
  font-size: 15px;
  line-height: 20px;
  color: #21415A;
  overflow-x: hidden;
}
body h1 {
  font-size: 25px;
  line-height: 30px;
}
body h2 {
  font-size: 23px;
  line-height: 28px;
}
body h3 {
  font-size: 21px;
  line-height: 26px;
}
body h4 {
  font-size: 19px;
  line-height: 24px;
}
body h5 {
  font-size: 17px;
  line-height: 22px;
}
body h6 {
  font-size: 15px;
  line-height: 20px;
}
body img {
  max-width: 100%;
  max-height: 100%;
}
.orange-btn {
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  background: linear-gradient(180deg, #EF7F1A 0%, #EF7F1A 100%);
  border-radius: 44px;
  padding: 6px 16px;
  border: 2px solid #EF7F1A;
  color: #fff;
  transition: all 0.3s;
}
.orange-btn:hover,
.orange-btn:focus {
  background: #fff;
  color: #EF7F1A;
  outline: none;
}
.orange {
  color: #EF7F1A;
}
.link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #68849A;
  text-decoration-style: dashed;
  text-decoration: underline;
}
.link:hover,
.link:focus {
  color: #EF7F1A;
}
.flex-1 {
  flex: 1;
}
.plane-title {
  position: relative;
}
.plane-title:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("../plane.svg");
  left: -55px;
  top: 20px;
}
.title-link-with-icon:hover .title-icon {
  color: #EF7F1A;
}
.title-link-with-icon .title-icon {
  font-size: 60px;
  margin-right: 30px;
}
.title-link {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #68849A;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.title-link:hover {
  color: #EF7F1A;
}
.index-title h2 {
  margin-bottom: 40px;
}
.index-title.col2 h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
}
.chevron-link {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-style: dashed;
  position: relative;
  padding-left: 60px;
  line-height: 40px;
  color: #21415A;
}
.chevron-link:before {
  color: #EF7F1A;
  position: absolute;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  content: '\e900';
  left: 0;
  transform: rotate(-90deg);
  font-size: 12px;
  width: 40px;
  height: 40px;
  border: 4px solid #EF7F1A;
  border-radius: 100%;
  line-height: 36px;
  text-align: center;
}
.chevron-link:hover {
  color: #EF7F1A;
  text-decoration-style: dashed;
}
.chevron-link:hover:before {
  border-color: #EF7F1A;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.header {
  padding: 20px 0 40px;
}
.header .logo img {
  height: 40px;
}
.main-menu .nav-item + .nav-item {
  margin-left: 20px;
}
.main-menu .nav-item .main-menu-item {
  font-size: 16px;
  line-height: 20px;
  color: #21415A;
  padding: 0;
}
.main-menu .nav-item .main-menu-item.active {
  font-weight: bold;
  position: relative;
  color: #21415A;
  text-decoration: none;
}
.main-menu .nav-item .main-menu-item.active::after {
  content: "";
  background: #EF7F1A;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 100%;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main-menu .nav-item .main-menu-item.dropdown-toggle {
  color: #21415A;
}
.main-menu .nav-item .main-menu-item:hover,
.main-menu .nav-item .main-menu-item:focus {
  color: #EF7F1A;
  text-decoration: none;
}
.main-menu .nav-item .dropdown-menu.show {
  padding: 10px 15px;
  border-radius: 4px;
  border-color: #21415A;
  max-width: 15rem;
  min-width: 10rem;
  margin-top: 8px;
}
.main-menu .nav-item .submenu-item {
  font-size: 16px;
  line-height: 20px;
  color: #21415A;
  padding: 0;
  white-space: break-spaces;
}
.main-menu .nav-item .submenu-item + .submenu-item {
  margin-top: 10px;
}
.main-menu .nav-item .submenu-item.active {
  color: #21415A;
  font-weight: bold;
  text-decoration: none;
}
.main-menu .nav-item .submenu-item:hover,
.main-menu .nav-item .submenu-item:focus {
  text-decoration: none;
  background: transparent;
  color: #EF7F1A;
}
.footer {
  flex: 0 0 auto;
  z-index: 10;
  margin-top: 150px;
  padding: 0 0 60px;
}
.footer .footer-border {
  border-top: 1px solid #E1ECF5;
  padding-top: 60px;
}
.footer .footer-col.col-politics .footer-col-bottom .copyright {
  display: flex;
  align-items: center;
}
.footer .footer-col.col-politics .footer-col-bottom .copyright .copy p {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.footer .footer-col.col-politics .footer-col-bottom .copyright .politics {
  margin-left: 30px;
}
.footer .footer-col.col-politics .footer-col-bottom .copyright .politics a {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #21415A;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.footer .footer-col.col-politics .footer-col-bottom .copyright .politics a:hover,
.footer .footer-col.col-politics .footer-col-bottom .copyright .politics a:focus {
  color: #EF7F1A;
}
.footer .footer-col.col-contact .footer-contacts li + li {
  margin-top: 20px;
}
.footer .footer-col.col-contact .footer-contacts .footer-icon {
  margin-right: 10px;
  margin-top: 5px;
  color: #EF7F1A;
}
.footer .footer-col.col-contact .footer-contacts .footer-contact b {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.footer .footer-col.col-contact .footer-contacts .footer-contact a {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #21415A;
  text-decoration: none;
}
.footer .footer-col.col-contact .footer-contacts .footer-contact a:hover,
.footer .footer-col.col-contact .footer-contacts .footer-contact a:focus {
  text-decoration: none;
  color: #EF7F1A;
}
.footer .footer-col.col-contact .footer-contacts .footer-contact p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.subscribe h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}
.subscribe .subscribe-form {
  margin-top: 30px;
}
.subscribe .subscribe-form .subscribe-input {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px;
  border: 2px solid #D9E6F1;
  border-radius: 40px;
}
.subscribe .subscribe-form .subscribe-btn {
  margin-left: 20px;
}
.socials {
  margin-top: 30px;
}
.socials h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}
.socials .socials-list {
  margin-top: 15px;
}
.socials .socials-list .social:hover,
.socials .socials-list .social:focus {
  text-decoration: none;
  color: #E1ECF5;
}
.socials .socials-list .social span {
  font-size: 30px;
}
.index-slider {
  position: relative;
}
.index-slider .slider-title {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  padding: 40px 0 0;
  text-align: center;
}
.index-slider .slider-title h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
}
.index-slider .slider-title .small-slogan {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.index-slider .slider-title .small-slogan .orange {
  font-weight: 700;
}
.index-slider .run-line ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.index-slider .run-line ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #68849A;
}
.index-slider .run-line ul li + li {
  margin-left: 50px;
}
.slider-bg.cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../cloud.png');
  background-size: 100% 300px;
  height: 300px;
  z-index: 99999;
  opacity: 1;
}
.main-slider-item img {
  width: 100%;
}
.index-search {
  position: relative;
  margin-top: -104px;
  z-index: 99999999;
  margin-bottom: 60px;
}
.index-search .search-form {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background: linear-gradient(0deg, #fff, #fff);
  box-shadow: 0px 0px 60px rgba(104, 132, 154, 0.15);
  border-radius: 80px;
  padding: 20px;
}
.index-search .search-container {
  display: flex;
}
.index-search .index-search-input {
  margin-right: 25px;
  background: #fff;
  border: 2px solid #E1ECF5;
  box-sizing: border-box;
  border-radius: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 30px;
  flex: 7;
  outline: none;
}
.index-search .index-search-input:focus {
  border-color: #21415A;
}
.index-search .orange-btn {
  flex: 2;
}
.index-career .careers-filter {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.index-career .careers-filter li {
  margin-bottom: 20px;
  margin-right: 20px;
}
.index-career .careers-filter .careers-filter-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #68849A;
  border: 2px solid #BDD0DF;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
}
.index-career .careers-filter .careers-filter-item.active {
  background: #BDD0DF;
  color: #fff;
}
.index-career .careers-filter .careers-filter-item:hover,
.index-career .careers-filter .careers-filter-item:focus {
  background: #BDD0DF;
  color: #fff;
  text-decoration: none;
}
.index-career .careers-list .show-all-careers {
  margin-top: 50px;
}
.index-career .careers-list .show-all-careers a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #56738A;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.index-career .careers-list .show-all-careers a:hover,
.index-career .careers-list .show-all-careers a:focus {
  color: #EF7F1A;
}
.careers-element-container {
  padding-top: 40px;
  background: #fff;
  height: 100%;
}
.careers-element-container .career-element {
  border-radius: 60px;
  border: 1px solid #E1ECF5;
  height: 100%;
}
.careers-element-container .career-element-content {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.careers-element-container .career-element-top {
  overflow: hidden;
  border-radius: 60px 60px 0px 0px;
  position: relative;
}
.careers-element-container .career-element-top .career-big-img .career-title-img {
  position: relative;
}
.careers-element-container .career-element-top .career-big-img .career-title-img:after {
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(54, 85, 102, 0.6) 100%);
}
.careers-element-container .career-element-top .career-company {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 50%;
  padding: 30px 30px 40px;
  border-radius: 0px 60px 0px 40px;
  overflow: hidden;
}
.careers-element-container .career-element-top .career-company .career-company-img {
  height: 50px;
}
.careers-element-container .career-element-middle {
  margin-top: 40px;
  padding: 0 33.5px;
}
.careers-element-container .career-element-middle .career-middle-title {
  min-height: 40px;
}
.careers-element-container .career-element-middle .career-middle-title a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #21415A;
}
.careers-element-container .career-element-middle .career-middle-salary {
  margin-top: 20px;
}
.careers-element-container .career-element-middle .career-middle-salary p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #68849A;
  margin-bottom: 0;
}
.careers-element-container .career-element-middle .career-middle-divider {
  height: 1px;
  width: 100%;
  background: #E1ECF5;
  margin: 20px 0;
}
.careers-element-container .career-element-middle .career-middle-about p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #68849A;
  margin-bottom: 0;
}
.careers-element-container .career-element-middle .career-middle-map {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.careers-element-container .career-element-middle .career-middle-map span {
  margin-right: 10px;
}
.careers-element-container .career-element-middle .career-middle-map p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  color: #68849A;
}
.careers-element-container .career-element-bottom {
  margin-top: 0;
  height: 100px;
  padding: 0 33.5px 40px;
}
.careers-element-container .career-element-bottom .career-bottom {
  justify-content: space-between;
}
.index-digit {
  margin-top: 150px;
  position: relative;
}
.index-digit .digit-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.index-digit .digit-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
}
.index-digit .digit-title p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.index-digit .digit-item .digit-animation {
  position: relative;
  text-align: center;
}
.index-digit .digit-item .digit-animation span {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-digit .digit-item .digit-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 0 0 0;
}
.index-youtube {
  margin-top: 200px;
}
.index-youtube .index-youtube-banners {
  display: flex;
}
.index-youtube .youtube-banner a {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #21415A;
  text-decoration: none;
}
.index-youtube .youtube-banner .youtube-banner-content {
  margin-bottom: 40px;
  position: relative;
}
.index-youtube .youtube-banner .youtube-banner-content img {
  height: 100%;
}
.index-youtube .youtube-banner.left-banner {
  margin-right: -30px;
}
.index-youtube .youtube-banner.left-banner .youtube-banner-content {
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  height: 460px;
}
.index-youtube .youtube-banner.middle-banner {
  margin: 0 -70px;
}
.index-youtube .youtube-banner.middle-banner .youtube-banner-content {
  clip-path: polygon(35% 0%, 100% 0%, 60% 100%, 0% 100%);
  height: 460px;
}
.index-youtube .youtube-banner.right-banner {
  margin-left: -30px;
}
.index-youtube .youtube-banner.right-banner .youtube-banner-content {
  clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 460px;
}
.faq-section {
  margin-top: 150px;
}
.faq-section .faq-content-accordion {
  border-right: 1px dashed #68849A;
  padding-right: 100px;
}
.faq-section .faq-card .faq-title {
  margin-top: 40px;
}
.faq-section .faq-card .faq-btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #21415A;
  border: none;
  background: none;
  -webkit-appearance: none;
  text-align: left;
  position: relative;
}
.faq-section .faq-card .faq-btn:after {
  content: '';
  content: "\e900";
  color: #68849a;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #EF7F1A;
  left: -40px;
  top: 0px;
  position: absolute;
}
.faq-section .faq-card .faq-btn.collapsed:after {
  color: #E1ECF5;
  transform: rotate(-90deg);
}
.faq-section .faq-card .faq-body {
  margin-top: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #4E6272;
}
.faq-section .faq-content-questions {
  margin-top: 60px;
  padding-left: 60px;
}
.faq-section .faq-content-questions h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 0;
}
.faq-section .faq-content-questions p {
  margin-top: 40px;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #68849A;
  margin-bottom: 0;
}
.faq-section .faq-content-questions .faq-contact {
  margin-top: 30px;
}
.faq-section .faq-content-questions .faq-contact a {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  text-decoration: none;
}
.faq-section .faq-content-questions .faq-contact a:hover,
.faq-section .faq-content-questions .faq-contact a:focus {
  text-decoration: none;
  color: #EF7F1A;
}
.faq-section .faq-content-questions .orange-btn {
  margin-top: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  width: 100%;
}
.question-section {
  margin-top: 250px;
  margin-top: 390px;
  margin-bottom: 310px;
}
.question-section .question-bg {
  position: relative;
}
.question-section .question-bg .question-bg-left {
  box-shadow: 0px 0px 60px rgba(104, 132, 154, 0.15);
  border-radius: 100px;
  width: 50%;
  height: calc(100% + 280px);
  position: absolute;
  top: -140px;
  padding: 0;
  left: -70px;
  background: #fff;
  z-index: 1000;
}
.question-section .question-bg .question-bg-right {
  z-index: 999;
  position: absolute;
  width: 100%;
  background: url('../img/bg/bg2.svg');
  height: calc(100% + 280px);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  top: -140px;
  right: 0;
}
.question-section .question-bg .question-content {
  z-index: 1001;
}
.question-section .question-about-col h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 0;
}
.question-section .question-about-col p {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #4E6272;
  margin-bottom: 0;
  margin-top: 60px;
}
.question-section .question-about-col .question-about-contacts {
  margin-top: 74px;
}
.question-section .question-about-col .question-about-contacts li + li {
  margin-top: 60px;
}
.question-section .question-about-col .question-about-contacts span {
  font-size: 40px;
}
.question-section .question-about-col .question-about-contacts .question-contact {
  margin-left: 20px;
}
.question-section .question-about-col .question-about-contacts .question-contact b {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}
.question-section .question-about-col .question-about-contacts .question-contact a {
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #21415A;
}
.question-section .question-about-col .question-about-links {
  display: flex;
  flex-flow: column;
  margin-top: 120px;
}
.question-section .question-about-col .question-about-links .chevron-link + .chevron-link {
  margin-top: 40px;
}
.question-section .question-form-container {
  padding-top: 160px;
}
.question-section .question-form-container h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 20px;
}
.form-row {
  margin-top: 50px;
  flex-wrap: nowrap;
}
.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=file] {
  background: #fff;
  border: 4px solid #D9E6F1;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 25px;
  border-radius: 40px;
}
.form-row .form-item {
  width: 50%;
}
.form-row .form-item + .form-item {
  margin-left: 30px;
}
.form-row .orange-btn {
  padding: 20px 40px;
  margin-left: 0;
}
.form-row.right-content {
  display: flex;
  justify-content: flex-end;
}
.form-row.col-submit {
  display: flex;
  align-items: center;
}
.form-row.col-submit label {
  margin: 0;
}
.form-row.col1 .form-item {
  width: 100%;
}
.form-row label {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #68849A;
  margin-bottom: 20px;
}
.form-row label input[type=checkbox] {
  margin-right: 10px;
}
.slogan {
  margin-top: 170px;
}
.slogan .slogan-text {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
}
/*# sourceMappingURL=main.css.map */